/*GENERAL*/
html,body {
    font-family: "Raleway","Arial", "Helvetica", "sans-serif" ;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
.flexcolumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexcolumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolumnBetween {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;

}
.decorationNone {
    text-decoration: none;
}
.bordureNone {
    border: none;
}
.textegras {
    font-weight: bold;
}
.colorbleu{
    color: #0065fc;
}
.colorbleuclair{
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}
.backbleu{
    background-color: #0065fc;
}
.backbleuclair{
    background-color: #deebff;
}
.backgris {
    background-color: #f2f2f2;
}
/* NAV */
.sizeNav {
    height: 100px;
}
.sizeliens {
    width: 100%;
}
.sizelien12 {
    margin-left: 60%;
}
.sizelien {
    width: 140px;
    height: 99px;

} 

.colorlien2 {
    color: black;
}
.bordureNav {
    border-top: 1px solid transparent;
    
}
.bordureNav:hover {
    border-top: 1px solid #0065fc;
    cursor: pointer;
    
}
.bordureNav:hover > a {
    color: #0065fc;
}
.marglogo {
    margin-bottom: 7px;
}
/* HEADER */

.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0,5px solid #f2f2f2;
}
.paddingsearch {
    padding: 20px;
}
.recherche {
    height: 50px;
    width:  230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconsize {
    height: 50px;
    width: 50px;
    border-radius:10px 0 0 10px ;
}
.buttonsearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px;
}
.buttonsearch:hover {
    color: #0065fc;
    background-color: #f2f2f2;
}

/* Filtres*/
.margfiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}
.filtre{
    display: flex;
    align-items: center;  
}
.margflitretitre {
    margin-right: 20px;
}
.filtretexteicons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtretexteicons:hover > .filtretexte {
    color: #0065fc;  
}
  .filtretexteicons:hover > .filtreicons {
      color: white;
      background-color: #0065fc;
}
.filtretexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreicons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}
/* info icon */
.info {
    display: flex;
    align-items: center;

}
.parenticon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/* Herbergements*/
.sizehebergement {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.sizepopulaire {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.blockhebergement {
    padding-left: 20px;
    padding-right: 20px;
}
.bloc1 {
    margin-bottom: 10px;
}
.bloc2 {
    margin-top: 10px;
}
.cubeherbegement {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.cubeherbegement:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.cubedetailshebergement {
    width: 90%;
}
.imgherbergement1 {
    background-image: url("./img/hebergement/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgherbergement2 {
    background-image: url("./img/hebergement/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgherbergement3 {
    background-image: url("./img/hebergement/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgherbergement4 {
    background-image: url("./img/hebergement/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgherbergement5 {
    background-image: url("./img/hebergement/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgherbergement6 {
    background-image: url("./img/hebergement/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
/* populaire */
.blocpopulaire {
    padding-left: 20px;
    padding-right: 20px;
}
.blocpopulaire12{
    margin-bottom: 22px;
}
.cubepopulaire {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.cubepopulaire:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.cubedetailpopulaire {
    width: 60%;
    padding-left: 5%;
}
.imgpopulaire1 {
    background-image: url("./img/hebergement/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgpopulaire2 {
    background-image: url("./img/hebergement/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgpopulaire3 {
    background-image: url("./img/hebergement/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
/*Activité*/
.activité {
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocactivité {
    width: 100%;
    height: 600px;
}
.blocactivité2356 {
    width: 23%;
    height: 600px;
}
/*reglage activité*/
.cubeactivité:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.cubeactivité {
    width: 25%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeactivité2356:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.cubeactivité2356 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/*fin reglages bloc*/
.hauteurtitre {
    height: 70px;
}
.titreactivité2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15%;
    width: 95%;
}
.titreactivité {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.imgactivité1 {
    background-image: url("./img/activité/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgactivité2 {
    background-image: url("./img/activité/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.imgactivité3 {
    background-image: url("./img/activité/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgactivité4 {
    background-image: url("./img/activité/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgactivité5 {
    background-image: url("./img/activité/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.imgactivité6 {
    background-image: url("./img/activité/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
/* footer*/
.footer {
    height: 300px;
    margin-top: 100px;

}
.tailleblockfooter {
    height: 150px;

}
.margBlockFoot {
    margin-left: 15%;
}
.margBlockFoot13 {
    margin-right: 15%;
}
.lienFoot {
    color: black;
}
.divLienFoot {
    height: 30px;
}
/*responsives*/
@media screen and (max-width:1295px) {
    .sizelien12{
      margin-left: 35%;  
    } 
    .cubeherbegement {
        min-height: 150px;
    }
    .sizehebergement {
        min-height: auto;
        padding: 20px;
    }
    .sizepopulaire {
        min-height: auto;
        padding: 20px;
    }
    .tabletteSizeTitresPop {
        margin-top: 0;
    }
}
@media screen and (max-width: 990px){
    .mobileFiltreWrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .filtretexteicons {
        margin-bottom: 20px;
    }
    #Hébergements {
        flex-direction: column-reverse;
        width: 100%;
    }
    .blocpopulaire {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
    }
    .blockhebergement {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
    }
}
@media screen and (max-width: 770px){
    .sizeliens {
        width: 90%;
    }
    .sizelien12 {
        margin-left: 20%;
    }
    .blockhebergement {
        height: auto;
    }
    .bloc1 {
    flex-direction: column;
    margin-bottom: 0;
    }
    .bloc2 {
   flex-direction: column;
   margin-top: 0;
    }
    .cubeherbegement {
        width: 100%;
        margin-bottom: 50px;
    }
    .cubedetailshebergement {
        min-height: auto;
    }
    .blocactivité {
        flex-direction: column;
        height: auto;
    }
    .cubeactivité {
        width: 100%;
        margin-bottom: 50px;
    }
    .blocactivité2356 {
        width: 100%;
        height: auto;
    }
    .cubeactivité2356 {
        margin-bottom: 50px;
    }
    .imgactivité1,
    .imgactivité2,
    .imgactivité3,
    .imgactivité4,
    .imgactivité5,
    .imgactivité6 {
        height: 200px;
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 20px;
    }
    .margBlockFoot {
        margin-left: 0; 
    }
}
    

